body {
  background-color: rgb(58, 108, 173);
  padding-top:76px;
  font-family: 'Oswald', sans-serif;

}

.color-carousel {
  background-color: white;
  padding: 2em;
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;

}

.section-title {
  overflow: scroll;
  overflow-x: scroll;
  overflow-y:hidden
}

nav {
  position: fixed;
  top: 0%;
}

.card-edit {
  margin: 2em 2em;
  -webkit-box-shadow: .625em .625em .3125em #888888;
}

.header {
  text-decoration: underline;
}

.allrows {
  background-color: #f8f9fa;
  width: 100%;
}

/*page numbers*/
.pagination {
  justify-content: center;
  margin-top:15px;
}

.pagination > li > a {
  color:#0d1c24;
}

.pagination > li > a:hover {
  color:#0d1c24;
}
/*end page numbers*/

#main-content{
  width:90%;
  border:2px solid #f8f9fa;
  border-radius:15px;
}

/*templates*/
#template-favorites {
  margin:0 auto;
  padding-top:15px;
}

#template-person {
  display:none;
  margin:0 auto;
  padding-top:15px;
}
#template-movies {
  margin:0 auto;
  padding-top:15px;
}

#template-person {
  display:none;
  margin:0 auto;
  padding-top:15px;
}

#template-popularTV {
  display:none;
  margin:0 auto;
  padding-top:15px;
}
/*end templates*/

.btn-secondary {
  background-color:#0d1c24;
  color:#f8f9fa;
}

.gridButton {
  color:#0d1c24;
  font-size: 25px;
  margin-right:5px;
}

.gridButton:hover{
  color:#1bd982;
}

.page-link {
  background-color:#f8f9fa;
}

#pagination1{
  background-color:#0d1c24;
  color:#f8f9fa;
}

#successfulLogin {
  !important display: none   !important;
}


#currentPage {
  position: relative;

  font-size: 3em;
}



/*media queries*/
@media only screen and (min-width: 767px) and (max-width: 884px) {
    body {
        padding-top:125px;
    }
}
