body {
  background-color: #0d1c24;
}

.color-carousel {
  background-color: white;
  padding: 2em;
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;

}

.section-title {
  overflow: scroll;
  overflow-x: scroll;
  overflow-y:hidden
}

nav {
  position: fixed;
  top: 0%;
}

.card-edit {
  margin: 2em 2em;
  -webkit-box-shadow: .625em .625em .3125em #888888;
}

.header {
  text-decoration: underline;
}

.allrows {
  background-color: #fff;
  width: 100%;
}


.main-content{
  position: relative;
  top: 10em;
}

#searchResults {
  display:hidden;
}

/*.container > .row {
  overflow-x: scroll;
  white-space: nowrap;
}
.container > .row > .col-lg-3 {
  display: inline-block;
  float: none;
}*/
/*
.card-button {
  position:relative;
  left: 1%;
  bottom: 1%;
}*/

/*.paragraph {
  position:relative;
  margin: 2% 2% 2% 2%;
}*/
